@CHARSET "ISO-8859-1";
/*


*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section {
	display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}

ul, ol {
	list-style: none;
}



/*	Typography presets
	------------------	*/

body {
	
	font-size: 100%;
	line-height: 1.7;
	color: #555;
	
}

h1  {
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 0 1em 0;
	line-height: 1.4;
}

h1.get-in-touch {

}

h2 {
	font-weight: normal;
	font-size: 1.2em;
	margin: 0 0 1em 0;
}

h3 {
	line-height: 1.4;
	margin-bottom: 10px;
}

h4 {
	font-size: 0.8em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.6em;
	margin-bottom: 0.6em;
}

h5 {
	margin-bottom: 2%;
	font-size: 0.9em;
	line-height: 1.8;
}

p {
	margin-bottom: 1em;
	font-size: 0.9em;
	line-height: 1.8;
}


a {
	color: #e12e87;
	/*text-shadow: #fff 0 1px 0;*/
	text-decoration: none;
	outline: 0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}


blockquote {
	font-size: 1.4em;
}


blockquote p {
	line-height: 1.5;
}

a:hover {
	opacity: 0.7;
}


/*	Structure
	------------------	*/

/*  2-column, 320 px layout for smartphones (iPhone portrait)
 *  ---------------------------------------
 *  1      2
 *  120px  264px   (24px gutters) */
 
 
h1 {
	font-size: 1.2em;
}

h6 {
	font-size: 0.8em;
}





/*  3-column, 480 px layout for smartphones (iPhone landscape)
 *  ---------------------------------------
 *  1      2      3
 *  120px  264px  408px   (24px gutters) */
@media only screen and (min-width: 464px) and (max-width: 767px) {
	
	
h1 {
	font-size: 1.4em;
}		
	
h2 {
	font-size: 1.4em;
}

p {
	font-size: 1em;
}



section {
	
}

}



/*  Default 5-column, 768 px layout for iPads (portrait), netbooks, and IE
 *  (All other layouts inherit styles from this layout)
 *  -----------------------------------------------------------
 *  1      2      3      4      5
 *  120px  264px  408px  552px  696px   (24px gutters) */
 
@media only screen and (min-width: 768px) and (max-width: 935px) {
	
h1 {
	font-size: 1.4em;
}	

h2 {
	font-size: 1.4em;
}	

p {
	font-size: 1em;
}



section {
	
}
.app{
min-width:800px;
width:800px;
margin:0 auto;
}


}




/*  6-column, 936 px layout for desktops and laptops (also: iPad landscape)
 *  ------------------------------------------------------------------------
 *  1      2      3      4      5      6
 *  120px  264px  408px  552px  696px  840px   (24px gutters) */

@media only screen and (min-width: 936px) {
	
h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1.2em;
}	
	
p {
	font-size: 0.9em;
}

#container,#map,#details,#search {
	width: 600px;
	/*background-color: forestgreen;*/
}

section {
	
}

.app{
min-width:800px;
width:800px;
margin:0 auto;
}

}




/*  8-column, 1224 px layout for desktops and laptops
 *  ------------------------------------------------------------------------
 *  1      2      3      4      5      6      7      8
 *  120px  264px  408px  552px  696px  840px  984px  1128px   (24px gutters) */
@media only screen and (min-width: 1224px) {
	

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.8em;
	margin-bottom: 0.6em;
}

blockquote {
	margin: 1em 0;
}

p {
	font-size: 1em;
}


section {
	
}


}




/*  12-column, 1824 px layout for gigantic screens   (24px gutters)
 *  ---------------------------------------------------------------------------------------
 *  1      2      3      4      5      6      7      8       9       10      11      12
 *  120px  264px  408px  552px  696px  840px  984px  1128px  1272px  1416px  1560px  1704px */

@media only screen and (min-width: 1824px) {
	#container,#map,#details,#search {
	width: 600px;
	/*background-color: forestgreen;*/
	}
}
 
 
/*	Overrides for iPhone 4 
	and other high device-pixel-ratio devices
	-----------------------------------------	*/

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
}



/*	Misc
	------------------	*/
 

	
img,
object,
embed,
iframe {	
	display: block;
	max-width: 100%;
	height: auto;
}

object {
	margin-bottom: 2em;
}
p.error {
    color: red;
    font-size: .7em;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

img {
  max-width: 100%;
}
#map_canvas img { max-width:none; }

/*---------------------------*/			
		 
		 
/*scroll bar for safari & chrome*/

::-webkit-scrollbar {
width: 7px;
height: 15px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
height: 1px;
display: block;
background-color: #696b6c;
}
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
height: 1px;
display: block;
background-color: #EFF7FF;
}
::-webkit-scrollbar-track-piece {
background-color: #EFF7FF;
}
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal
{
background-color: white;
border: 1px solid #639ACE;
-webkit-border-radius: 6px;
}